.outer {
  margin-left: 5rem;
  position: relative;
}
.preview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
}

.inner h4 {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  color: green;
}
.inner h3 {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
}
.buy {
  color: white;
  background-color: green;
  border: none;
}
.totalPrice {
  font-size: 2rem;
}
.price {
  color: red;
}
.cart-empty{
 padding-top: 5rem;
 padding-left: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .outer {
    margin-left: 0.3rem;
  }
  img {
    width: 50px;
  }
  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .inner button {
    width: auto;
    font-size: 10px;
  }
  .inner h4 {
    margin-left: 0.2rem;
    color: green;
  }
  .inner h3 {
    display: none;
  }
}
