.outer {
  
  margin-left: 10rem;
  position: relative;
}
img {
  width: 100px;
 
}
.inner {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
.inner button{
    position: absolute;
    right: 10rem;
}
.inner h4{
    margin-left: 1rem;
    color: green;
    position: absolute;
    right:20rem;
}
.inner h3{
    margin-left: 1rem;
}
.buy{
  background-color: green;
}
