.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  width: 250px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 220px;
  height: auto;
  margin: 30px 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  cursor: pointer;
}
/* .card:hover {
    box-shadow: 0 2px 20px rgb(0 0 0 / 60%);
  } */
h3 {
  margin-top: 10px;
  margin-left: 5px;
  font-size: 16px;
  font-weight: bolder;
  letter-spacing: 0.5px;
  color: rgb(27, 25, 25);
}
h4 {
  margin-left: 5px;
  margin-top: 10px;
  text-align: left;
  font-size: 12px;
  color: rgb(110, 110, 110);
}
h5 {
  margin-left: 5px;
  margin-top: 10px;
  text-align: left;
  font-size: 15px;
  letter-spacing: 2px;
  color: #009688;
  margin-bottom: 20px;
}
.clothing,
.accessories {
  margin-left: 4%;
}
.clothing-card,
.accessories-card {
  display: flex;
  flex-wrap: wrap;
}
footer {
  width: 100%;
  background-color: #1c1b1e;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 4% 8%;
}
.footer-heading {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 16px;
  color: white;
  opacity: 0.9;
  letter-spacing: 1px;
}
.footer-link {
  text-decoration: none;
  color: white;
  display: block;
  margin-top: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.8;
}
.content {
  width: 100vw;
  margin-top: 9%;
  margin-left: 10%;
}
.simg {
  width: 80%;
  cursor: pointer;
}
.img {
  width: 220px;
}
#main-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 9%;
  margin-bottom: 9%;
}
#tick-wrapper img {
  width: 100%;
}
#tick-wrapper {
  width: 200px;
  height: 200px;
  background-color: #49d049;
  border-radius: 50%;
  padding: 40px;
  box-sizing: border-box;
  animation: popup 1s;
}
@keyframes popup {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.25, 1.25);
  }
  100% {
    transform: scale(1, 1);
  }
}
.main-heading {
  font-size: 36px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
  margin: 0;
  margin-top: 48px;
  margin-bottom: 16px;
}
.section-heading {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
  margin: 0;
  margin-bottom: 16px;
}
Link {
  display: flex;
  flex-direction: column;
  width: 15%;
  min-width: 220px;
  height: auto;
  margin: 30px 10px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  cursor: pointer;
}
